/vendor
/node_modules
/public/storage
/public/modules
/public/themes/adminlte/vendor
Homestead.yaml
Homestead.json
.env
composer.lock
package-lock.json
.php_cs.cache
/Themes/Adminlte/assets
/Themes/Adminlte/fonts
/Modules/MoonModules
/nbproject
/Themes/Adminlte/assets/vendor
/Themes/Adminlte/assets/img
/Themes/Adminlte/fonts
/bootstrap/cache/moon_modules
